//Styling for the footer section
footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Gotham', 'Gotham', 'Gotham', Arial, sans-serif;
  color: rgba(190, 236, 45, 1);
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Gotham', 'Gotham', 'Gotham', Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li {  
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;  
  outline: none;
  
}

ul.social-buttons li a {  
  background-color: transparent;
}

ul.social-buttons li a i {  
  color: $primary;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a i:hover {
  background-color: transparent;
  color: $dark;
}